html,
body {
    margin     : 0;
    padding    : 0;
    position   : relative;
    font-family: sans-serif;
}

.info {
    position        : absolute;
    right           : 0;
    color           : #fff;
    background-color: #222;
    padding         : 15px;
    z-index         : 1;
}

.info>h2 {
    font-weight: 400;
    font-size  : 1em;
    margin     : 0;
}

.info>p {
    font-weight: 300;
    font-size  : 0.85em;
    margin     : 25px auto 0;
}

.container {
    width          : 100%;
    display        : flex;
    justify-content: center;
}